body { background: #aafb41; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 39px; display: flex; }
.block-user-0 { color: #739161; font-size: 14px; margin-bottom: 5px; }
.block-search-1 { color: #8e627d; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #2286a0; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #5b244c; font-size: 15px; margin-bottom: 5px; }
.block-email-4 { color: #140015; font-size: 18px; margin-bottom: 5px; }
.block-user-5 { color: #5da881; font-size: 19px; margin-bottom: 5px; }